#!/usr/bin/make -f
MAKEFILE = $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR = $(dir $(MAKEFILE))
TEMP_HOME = $(abspath $(DEBIAN_DIR))/homedir/
ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH_BITS),32)
  LINUX32 = "linux32"
else
  LINUX32 = ""
endif

override_dh_clean:
	rm -rf $(TEMP_HOME)
	dh_clean

override_dh_auto_configure:
	true

override_dh_auto_build:
	mkdir -p $(TEMP_HOME)
	HOME=$(TEMP_HOME) $(LINUX32) ./bootstrapper.sh -t externals

%:
	dh --with cli $@
